
.name {
    text-align: center;
    font-variant: small-caps;
    font-size: xx-large;
    color: #d4dcbe;
}

.classes {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: #f8f9fa;
}

.classes th {
    color: #bccacb;
}

.classes td, .classes th {
    text-align: center;
}

.classes th:nth-child(1), .classes td:nth-child(1) {
    width: 12.3%;
}

.classes th:nth-child(2), .classes td:nth-child(2), .classes th:nth-child(11), .classes td:nth-child(11), .classes th:nth-child(3), .classes td:nth-child(3) {
    width: 15%;
}

.classes th:nth-child(3), .classes td:nth-child(3), .classes th:nth-child(5), .classes td:nth-child(5), .classes th:nth-child(6), .classes td:nth-child(6), .classes th:nth-child(7), .classes td:nth-child(7) {
    width: 4.1%;
}

.classes th:nth-child(8), .classes td:nth-child(8) {
    width: 9.6%
}

.classes th:nth-child(9), .classes td:nth-child(9), .classes th:nth-child(10), .classes td:nth-child(10) {
    width: 8.2%;
}
