# extends 'base.html'

# block head
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/activate.css') }}"/>
# endblock

# block breadcrumb
{% with name="Home", link="index" %}
	{% include "breadcrumb.html" %}
{% endwith %}
{% with active=True, name="Registeration" %}
	{% include "breadcrumb.html" %}
{% endwith %}
# endblock

# block body
<div class="message">
	<span>{{ message|safe }}</span><br>
	<span><a href= {{ url_for('index') }}>Click here</a> to go back to home</span>
</div>

# endblock
